<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425953461881-ubviiku7vrc9fbvs15aceiq1cmd165dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425953461881-ubviiku7vrc9fbvs15aceiq1cmd165dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425953461881-8a8d7cdajf65ruvkbi1kgvs4rsmlqjoi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhWgg22XgTJovCcwsOcTPWQUuWIxJp1Es</string>
	<key>GCM_SENDER_ID</key>
	<string>425953461881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.ostovane.ios1</string>
	<key>PROJECT_ID</key>
	<string>ostovane-6a3b7</string>
	<key>STORAGE_BUCKET</key>
	<string>ostovane-6a3b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425953461881:ios:e68523fba66a74f892f6a8</string>
	<key>DATABASE_URL</key>
	<string>https://ostovane-6a3b7.firebaseio.com</string>
</dict>
</plist>